body{
    background-color: #111827;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    margin-left: 20px;
}

.layout {
    display: flex;
    gap: 30px;
}

.content {
    padding: 20px;
    width: 100%;
}

.h2{
    margin-left: 15px;
    font-size: 18px;
}

.h3{
    margin-left: 15px;
    font-size: 16px;
}

.sidebar {
    width: 250px;
    height: 100vh;
    border-radius: 20px;

    background-color: #1c2541;

    padding: 20px;
}

.sidebar ul {
    list-style: none;

    padding: 0;
}

.sidebar a {
    color: white;

    text-decoration: none;

    display: block;

    padding: 10px;

    margin-bottom: 10px;

    border-radius: 8px;
}

.sidebar a:hover {
    background-color: #3a506b;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr ; 
    gap: 10px;
    width: 100%;
    margin-top: 20px; 
}

.card{
    background-color: #1f2937;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
}

